# This is an example config file used as an alternative to OAuth2 authentication.
#
# During the development process, this method will be used, as OAuth2 requires
# an adminstrator to create an application id.
#
# Copy this file to a file named config.toml under the same directory.
# Generate a new token under the settings page and paste it below.

[formatting]
# For date and time formatting, see https://docs.rs/chrono/latest/chrono/format/strftime/index.html
date = "%F" # YYYY-MM-DD
time = "%R" # 24h Time

[network]
url = ""
token = ""
pagination = 50

[associations.submission_files]

[ignore]
courses = []
inbox = []
discussions = []
grades = []
assignments = []
modules = []
